// owl-carousel
.carousel {
  //height: 30vh;
  .carousel-item {
    img {
      object-fit: cover;
      max-height: 50vh;
    }

    .caption-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}