// footer
.page-footer {
  background-color: $footer-color;
  padding: (.5rem 0);

  .container {
    .social {
      display: flex;
      justify-content: space-around;

      .list-inline-item {
        a {
          svg {
            color: #8a8a8a;
            display: inline-block;
            text-align: center;
            width: 30px;
            height: 30px;
            font-size: 18px;
          }
        }
      }
    }
  }
}