@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

//Main
/*modal*/
.modal {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9;

  .modal-content {
    width: 500px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    padding: 20px;

    .modal-footer {
      width: auto;
      text-decoration: none;
      line-height: 1;
      color: inherit;
      font-size: 1.2em;
      padding: 0.3em;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

main {

  .interactive-block {
    margin-bottom: (2rem);

    form {
      #app {
        display: flex;
        justify-content: space-around;
        padding: (1rem 0);

        table {
          position: relative;
          margin-right: 10px;

          &.error:after {
            content: "Необходимо выбрать всего 5 позиций в карточке";
            color: #F44336;
            position: absolute;
            bottom: -40px;
            left: 0;
            font-size: 12px;
          }

          &.error tbody {
            border: 2px solid red;
          }

          tbody {
            border: 1px solid black;
          }

          .line-through {
            position: relative;

            &:before,
            &:after {
              position: absolute;
              left: 30px;
              top: 11px;
              content: ' ';
              height: 33px;
              width: 2px;
              background-color: #333;
            }

            &:before {
              transform: rotate(45deg);
            }

            &:after {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}

.green {
  background-color: green;
}

#play-again {
  display: none;
}


@media (max-width: $smDesktopWidth) {
  #app {
    flex-wrap: wrap;

    table {
      margin-bottom: 10px;
    }
  }
}

// Modules
// @import "modules/my-module.scss";
@import "modules/header.scss";
@import "modules/footer.scss";
@import "modules/carousel";